<!DOCTYPE html>
<html lang="en">
<head>

   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dee's Closet</title>
<h1>Welcome To Dee's Closet</h1>
</head>
<body>
    <div class="addButton">
    <a href="/new">Add A Shoe</a>
</div>
   <div class="supplies" >
    <%for(let i = 0; i < shoes.length; i++) {%>
        <table>
         <td>     
          <tr> <%=shoes[i].brand%>
          </br> 
           <a href="/<%=shoes[i]._id%>"><%=shoes[i].style%></a>
            </br>
         Retail Price: $<%=shoes[i].retail%>
        </br>
        SZ:<%=shoes[i].size%>
    </br>
           <img src='<%=shoes[i].img%>'></img>
            <form action="/<%=shoes[i]._id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
                </form>
    </br>
         Price To Buy: $<%=shoes[i].cost%> </tr>   
           </td> 
           <%}%>
           </table>
           
    </div>
    
</body>
</html>