<!DOCTYPE html>
<html lang="en">
<head>

   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dee's Closet</title>
</head>
<body>
    <h1>Welcome To Dee's Closet</h1>
    <%for(let i = 0; i < shoes.length; i++) {%>
        <table>
         <td>     
          <tr> <%=shoes[i].brand%>
          </br> 
           <a href="/<%=shoes[i]._id%>"><%=shoes[i].style%></a>
            </br>
         <%=shoes[i].retail%>
           <img src='<%=shoes[i].img%>'></img>
            <form action="/<%=shoes[i]._id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
                </form>
    </br>
          <%=shoes[i].cost%> </tr>   
           </td> 
           <%}%>
           </table>
           <a href="/new">Add A Shoe</a>
    
    
</body>
</html>